/* header banner  */
/* header banner  */
/* header banner  */
.about-banner {
    background-image: url('../images/about-img.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
}

.blur {
    backdrop-filter: blur(5px);
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    z-index: 2;
    width: 100%;
    text-align: justify;

}

.text-justify {
    text-align: justify;
}

/* team section  */
/* team section  */
/* team section  */

.team-secton {
    display: flex;
    max-width: 90%;
    margin: 5% auto;
}


.team-content {
    display: flex;
    align-items: center;
}

.team-content>img {
    max-width: 40%;
    border-radius: 5px;
}

.team-title {
    padding: 10px;
    line-height: 45px;
}

/* responsive class  */

@media screen and (max-width:576px) {

    .w-sm-90 {
        width: 90%;
        padding: 0;
    }


}

@media screen and (min-width:577px) {

    .w-md-50 {
        width: 50%;
      
    }
    .px-md-25{
        padding: 10%;
    }

}