.slider-image {
    width: 100%;
   

}

.b-radius {
    border-radius: 10px;
}

.btn-shop {
    background-color: #611ae4;
    padding: 15px 40px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    border: 2px solid #611ae4;
}

.btn-learn {
    background-color: #e41aa7;
    padding: 5px 30px;

    border-radius: 5px;
    color: white;
    font-weight: bolder;

}

.btn-shop:hover {

    outline:  2px solid #160635;
    background-color: #fcfbfe;
    color: #e41aa7;
}

.btn-learn:hover {
    border: 2px solid #160635;
    background-color: #ffffff !important;
    color: #0f0f0f !important;
}

.card-mod-hover:hover{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    position: relative;
}



.gird-item {
    text-align: center;
}

.f-margin {
    margin-top: 100px;
}

.dialog-img {
    width: 15%;
    height: 70%;

}

.dialog-shape {
    display: flex;


}

.feature {
    margin-bottom: 50px;
    color: #e41aa7;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1cm;
}

.feature>p {
    color: #460e52;
    font-family: sans-serif;
    letter-spacing: 0.15cm;
}


.f-card:hover {
    outline: 2px solid rgb(157, 159, 154);
   transform: scale(1.1);
   transition: transform 2s ease-in-out;
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
        0 24px 46px var(--box-shadow-color) !important;
    
}

.menu a {
    text-decoration: none;
    display: block;
}

.subcribe {
    border-radius: 15px;
}

footer {
    background-color: #1d1c1e;
    padding: 5%;
    padding-left: 10%;
    color: white;
    height: auto;

}

.active {
    color: #f238fc !important;
}

.in-b {
    border-right: none !important;
    border-top-left-radius: 5px 0 0 5px;
}

nav ul>li>a:hover {
    background-color: gray;
    border-radius: 5px;

}


@media (max-width:991px) {
    .slider-image {
        width: 100%;
        height: 300px;
    }

    .btn-shop {

        padding: 6px 20px;
        border-radius: 10px;

    }

    .btn-learn {

        padding: 6px 20px;
        border-radius: 10px;

    }

}

@media (max-width:650px) {
    .slider-image {
        width: 100%;
        height: 200px;
    }

    .btn-shop {

        padding: 4px 12px;
        border-radius: 5px;
        font-size: 10px;

    }

    .btn-learn {

        padding: 4px 12px;
        border-radius: 5px;
        font-size: 10px;

    }

}